* {
  margin: 0px;
}

.par {
  width: 100%;
  height: auto;
  background-color: aquamarine;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;               /* wrap:--move items to the newline || nowrap:--items stays in same line adjacent*/
  justify-content: center;          /* move items in x-axis */
  align-items: center;              /* move items in y-axis */
}

.ch {
  width: 200px;
  height: 100px;
  background-color: blue;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}