*{
  margin: 0px;
}

h1{
  float: left;
  font-size: 100px;
}

.a{
  color: blue;
}

.b{
  color: red;
}

#c{
  color: yellow;
}

#d{
  color: green;
}

div{
  margin-top: 300px;
  margin-left: 800px;
}


