* {
  margin: 0px;
  padding: 0px;
}

h1 {
  color: blueviolet;
}

fieldset {
  width: 50%;
  height: 600px;
  border: 5px solid red;
  border-radius: 10px;
  background-color: aquamarine  ;
}

legend {
  width: 10%;
  height: 20px;
  background-color: white;
  border: 5px solid red;
  border-radius: 10px;
  text-align: center;
}

.div1 {
  /* width: 100%;
  height: 600px;
  background-color: aquamarine;
  border: 5px solid red; */
  border-radius: 10px;
  background-image: url(./kid1.png);
  background-size: 60% 500px;
  background-repeat: no-repeat;
  animation: marquee 30s infinite linear;
  margin-top: 0px;
}

@keyframes marquee {
  0% {
    background-position: 0;
  }

  100% {
    background-position: 1190px;
  }
}

.div2 {
  width: 100%;
  height: 450px;
  /* background-color: red; */
  margin-top: 50px;
}

.color {
  color: green;
}

.color1 {
  color: blue;
}

button {
  width: 10%;
  height: 25px;
  background-color: white;
  border-radius: 10px;
}